.container{
    background-color: bisque;
    height: 800px;
   
}
th,td{
    border: 2px solid black;
    width: 100px;
}
td{
    height: 40px;
}
#myTable{
    margin-top: 60px;
    margin-left: 450px;
}
.red{
    margin-top: 40px;
    margin-left: 180px;
}
.it{
    background-color: aquamarine;
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 120px;
    left: 200px;
}